body{

    background-color: rgb(255, 254, 254);
}
.body_main{
  
    margin: 1% 10%;
    font-family:"Fira Sans";
    
  }
/* Banner Section*/
  .hero_section{
    
    width: 100%;
    height: 80vh;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;


   
  }


  
  .navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
  }
  .navigation > a{
      text-decoration: none;
      padding:5px 10px 5px 10px;
      border: 1px solid  rgb(0, 106, 80) ;
      color: rgb(0, 106, 80);
      font-weight: 600;
      text-align: center;
      border-radius: 4px;
  }

  .logo{
      font-weight: 600;
      font-size: 18px;
  }

  .hero-title{
      color: rgba(14, 14, 14, 0.5);
      font-weight: 600;
      font-size: 15px;
  }
  .hero-description{
      font-weight: 700;
      font-size: 50px;

  
      
  }
  .hero-button{
      border-radius: 6px;
      background: rgb(0, 106, 80);
      color: white;
      padding:10px 20px;
      border: none;
  
  }

  .hero-container-1{

margin-left: 5%;


  }

  .hero-container-2{
    margin-right: 5%;
  }



  /* A vision of Future */
.vision{
    padding-top:80px;
}

  .vision_title{
    font-weight: 700;
    font-size: 25px;
    
  }
  .vision_description{
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
  }
.vision_button_1{
    border-radius: 6px;
    background: rgb(84, 144, 245);
    padding: 10px 20px 11px 20px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 400;
}
.vision_button_2{
    border-radius: 6px;
    background:rgb(9, 161, 92);
    padding: 10px 20px 11px 20px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 400;
}
.vision_button_3{
    border-radius: 6px;
    background:rgb(255, 194, 57);
    padding: 10px 20px 11px 20px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 400;
}

  .parent_of_vision{

    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    margin-bottom:35px;

  }

.child_of_vision_1{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.child_of_vision_2{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}
.child_of_vision_3{
    border-radius: 16px;
    background:rgb(247, 235, 207);
    padding: 32px;
}


/* quote-section */
.quote-section{
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding:30px 20px;
 }
.quote_description{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.quote_chief{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.quote_chief_advisor{
    color: rgba(14, 14, 14, 0.6);;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.new-content-1{
    width: 100%;
    display: flex;
    gap: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding:40px;
    margin:20px auto;
    
  
}
.recent_news{
    padding-top: 80px;
}
#news-2{
    padding-right: 5px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    
    
}

.news_1_description{
    /* margin-right:10px;
    max-width: 700px; */
    width: 650px;
    height: 300px;
}
.news_img{
    border: 1px solid white;
    border-radius: 30px;
    /* width: 350px;
    height: 300px; */
    
}
.news_button{
    border-radius: 7px;
    background: rgb(0, 106, 80);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border: none;
}


/* Donate For Bangladesh */
.donate-container{
    margin-top: 80px;
}
.donate_title{
    font-weight: 700;
    font-size: 25px;

}
.donate_description{
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.donate_ammount{
    padding: 40px 100px;
}
.donate_other{
    padding: 15px 400px;
    margin: 32px 0px;
    /* width: 80%; */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);

}
.donate_button{
    border-radius: 7px;
    background: rgb(0, 106, 80);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.donate-container{
    width: 100%;
    text-align: center;
}
.demo_ammount{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0px 24px;
    padding: 20px 35px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}
#demo_ammount_2{
   background-color:rgb(198, 228, 214);
}

/* News letter section*/
.nes_l_cotent{
    text-align: center;
    margin-top: 80px;
    background-color: rgb(198, 228, 214);
    border-radius: 16px;
    padding:60px 100px ;
}
.n_l_button{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 11px 25px;
    font-weight: 500;
    border:none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.email_here{
    padding: 14px 200px;
    margin: 32px 0px;
    /* width: 80%; */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);

}


/* Footer section */
.footer_title{
    font-weight: 700;
}

.footer_content{
    text-align: center;
    margin-top: 60px;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    width: 1000px;
    background-color: whitesmoke;

}